.navbar.navbar.navbar.navbar
  .profile
    @media screen and (min-width: 768px)
      position: absolute
      left: 15px
      top: -10px
      z-index: 3
    ul
      display: flex
      flex-wrap: nowrap    
      @media #{$mobile}
        justify-content: center
    li
      margin: 0
      &:last-child
        a::after
          display: none
      a
        +sub_text
        margin: 0
        padding: 0
        border: 0
        &::after
          content: '|'
          +text
          display: inline-block
          margin: 0 7.5px