- var url = 'images/'

footer.foot#foot(style="background-color: #22303c;")
	.row
		.col-sm-4.col-xs-12.logo-content
			span.svg(style="background:url("+url+"foot-logo.svg); width: 266px; height: 54px;")
		.col-sm-4.col-xs-12.info
			.row
				.col-sm-6.col-xs-12
					p 電話：
						a(href="tel: (04)8870255") (04)8870255
					p 傳真：
						a(href="tel: (04)8870265") (04)8870265
					p 行動：
						a(href="tel: 0937-766565") 0937-766565
				.col-sm-6.col-xs-12
					p 地址：5220 彰化縣田尾鄉溪畔村中山路二段484號
					p 信箱：
						a(href="mailto: huangchi6896@gmail.com") huangchi6896@gmail.com
					p LINE ID：
						a(href="https://line.me/R/ti/p/%400937766565") 0937766565

.design(style="background-color: #22303c;")
	.row
		.col-xs-12
			p.text-center
				span Copyright © 2025 豐禾邑商務記帳事務所 
				span All rights reserved.
				a(href="http://www.e-creation.com.tw" target="_blank") Design by 藝創媒體