- var url = 'images/'

.idx.container-fluid.section-1#section-1
  .row
    .col-xs-12
      h3.text-center 企業貸款輔導
      p.text-center 聘請銀行退休專業顧問人員，針對企業進行SWOT 分析，為企業資金融通服務做整體規劃。
  .container
    .row.info(style="background-color: #f5f3f0;")
      .col-sm-4.col-xs-12
        figure
          img.img-responsive.center-block(src=url + "section-1-img-1.png", alt="")
          figcaption
            h4 中小企業辦理銀行融資
            p 依據企業需求．評估適合的融資方案
            p 提供備財務報表、簽證計畫．提高核貸成功率
            p 申請企業信用貸款、設備貨款、週轉金貸款
      .col-sm-4.col-xs-12
        figure
          img.img-responsive.center-block(src=url + "section-1-img-2.png", alt="")
          figcaption
            h4 債務協商
            p 分析企業或個人財務狀況 •提供最佳還款方案
            p 降低利率或延長還款期限
            p 維持信用紀錄
      .col-sm-4.col-xs-12
        figure
          img.img-responsive.center-block(src=url + "section-1-img-3.png", alt="")
          figcaption
            h4 紓困貸款
            ul
              li 針對短期資金需求．協助中小企業政府及銀行紓困方案
              li 快速評估質軟條件．縮短申請流程
              li 提供貨金規制建議，提升企業抗風險能力
      .col-sm-12.col-xs-12
        p.text-center
          a.svg(style="background:url("+url+"section-1-detail.svg); width: 147px; height: 31px;")