- var url = 'images/'

.idx.container-fluid.section-2#section-2
  .row
    .col-sm-6.col-x-s-12
      h3 關於豐禾邑
      p 營登 / 報稅 / 節稅 / 銀行貸款
      p 設立公司大小事 交豐禾邑最省事
      p 老闆用力打拼經濟  合法節稅豐禾邑記
      p 豐禾邑提供 企業貸款輔導/工商設立、變更登記/申請工商憑證/記帳稅務申報
      p 全台灣地區皆可為您服務！
    .col-sm-6.col-xs-12
      ul
        li.text-center
          a(href="")
            | 工商設立服豬
            span.svg(style="background:url("+url+"section-2-arrow.svg); width: 30px; height: 30px;")
        li.text-center
          a(href="")
            | 中小企業银行融資
            span.svg(style="background:url("+url+"section-2-arrow.svg); width: 30px; height: 30px;")
        li.text-center
          a(href="")
            | 商標專利申請
            span.svg(style="background:url("+url+"section-2-arrow.svg); width: 30px; height: 30px;")
        li.text-center
          a(href="")
            | 配合會計師簽證
            span.svg(style="background:url("+url+"section-2-arrow.svg); width: 30px; height: 30px;")
