- var url = 'images/'

.idx.container-fluid.section-4#section-4(style="background:#22303c;")
  .row
    h3.text-center 公司行號設立
    h4.text-center 簡單、快速、有效率。豐禾邑以最快時間為您服務 !
  .row.info
    .col
      figure
        img.img-responsive.center-block(src= url + "section-4-img-1.png", alt="")
        figcaption 
          h4 工商設立變更登記
          p 應備文件
          p 負責人、各股東身份證正反面影本
          p 最近一期房屋稅單影本
          p 租賃合約影本或房屋使用同意書
          p 提供２個想要設立公司的名稱
    .col
      figure
        img.img-responsive.center-block(src= url + "section-4-img-2.png", alt="")
        figcaption 
          h4 工廠設立變更登記
          p 協助製造業者辦理工廠設立、變更及登記相關手續，確保符合政府規範，合法經營。
    .col
      figure
        img.img-responsive.center-block(src= url + "section-4-img-3.png", alt="")
        figcaption 
          h4 僑外投資申請
          p 提供協助準備申請文件及提交申請與公司登記
    .col
      figure
        img.img-responsive.center-block(src= url + "section-4-img-4.png", alt="")
        figcaption 
          h4 境外公司申請
          p 提供協助準備適合註冊地點及設立公司
    .col
      figure
        img.img-responsive.center-block(src= url + "section-4-img-5.png", alt="")
        figcaption 
          h4 特許業務申請
          p 專業辦理公司、行號設立，從名稱查核、章程擬定到營業登記，全程輔導，讓您快速開業。
  .row
    .col-sm-12.col-xs-12
      p.text-center
        a.svg(style="background:url("+url+"section-4-detail.svg); width: 147px; height: 31px;")