- var url = 'images/'

.idx.container-fluid.section-3
	.row
		.col-sm-12.col-xs-12
			h3.text-center 記帳報稅服務
			h4.text-center 秉持專業態度，為客戶合法節稅。豐禾邑運用多年專業經驗做到最好
	.row
		.col-sm-4.col-xs-12
			figure
				img.img-responsive.center-block(src=url + "section-3-img-1.png", alt="")
				figcaption 
					h4 各項代書業務
					p 供協助設立公司及公司相關登記的服務
					p 公司章程草擬：協助撰寫公司章程、股東協議、董事會決議等文件。
					p 公司登記：代理客戶進行公司設立登記、商業登記及資本驗證。
					p 股權變更：協助辦理股東、董事或高層人員的變更登記。

		.col-sm-4.col-xs-12
			figure
				img.img-responsive.center-block(src=url + "section-3-img-2.png", alt="")
				figcaption
					h4 記帳報稅服務
					p 一般行業記帳服務$2,000/月;特許行業:另議
					p ※【營業額未達300萬】另有優惠，歡迎來電洽詢
					p 費用，隨同當期記帳費一併收取※上述報價為年營業額1000萬以下採書面審核申報之報價，超過及查帳另議。
					p ※以上報價不含成本表單（進銷存貨明細表等）製作及其他非例行性事務處理。
					p ※發票費用: 按照實際代購費用，隨同當期記帳費一併收取
		.col-sm-4.col-xs-12
			figure
				img.img-responsive.center-block(src=url + "section-3-img-3.png", alt="")
				figcaption 
					h4 委託記帳介紹
					p ◎代購、到府收送統一發票。
					p ◎傳票編制、各項帳簿設置、各項報表編制。
					p ◎定期提供預估損益建議書、稅務資訊。
					p ◎ 辦理營業稅申報。
					p ◎ 辦理薪資、租金及各類所得之扣繳憑單申報。
					p ◎ 辦理公司盈餘分配之股利憑單申報。
					p ◎ 辦理營利事業所得稅預估暫繳申報。
					p ◎ 辦理營業事業所得稅年度結算申報。
					p ◎ 辦理個人綜合所得稅申報。
					p ◎ 提供暫結報表供銀行融資。			